<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="100%">
<tr>
  <th>Name</th>
  <th>Notes</th>
  <th></th>
</tr>
<tr>
  <td>
    <%= f.text_field :name %>
  </td>
  <td>
    <%= f.text_field :notes %>
  </td>
  <td>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td>
</table>
<% end %>
