<table width="100%" align="center" border="0" cellspacing="0">
  <tr id="tr" >
    <th colspan="7">Network Pingmap</th>
  </tr>
  <% i = 0 %>
  <% for s in @servers %>

    <% if i==0 %> <tr id="data" ><% end %>

      <% i+=1 %>
      <td class="pmap" id="<%=s.id%>"> 
      <div class="progress progress-striped active" id="#<%=s.id%>_pbar">
        <%=s.hostname%>
        <div class="bar" style="width: 100%;"></div>
      </div>
    </td>


    <% if i==7
    i=0 %> 
</tr> 
  <% end %>
<% end %> 
</table>
<script type="text/javascript">

  <% for s in @servers %>
    $(document).ready(function(){
        $('#<%=s.id%>').load('/network/<%=s.id%>/do_pingmap/');
        $('#<%=s.id%>_pbar').hide();
        });
<% end %>
</script>

