<div class="grid_12">
  <% if (controller.controller_name == 'servers' || !@server.nil?) && (controller.action_name == 'show' || !@server.nil?) && controller.action_name != 'new' %>
      <div class="clear"></div>
      <div align="center">
        <table class="subnav">
          <% if @group.nil? %>
              <tr>
                <th><h2><%=@server.hostname%></h2></th>
                <th><%= link_to 'Overview', @server %></th>
                <th><%= link_to "Expand Graphs", graphs_server_path(@server) %></th>
                <th><%= link_to "Diagnostics", server_diagnostic_logs_path(@server) %></th>
                <th>
                  <ul class="sf-menu">
                    <li><%= link_to "Network Uptime", uptime_server_path(@server) %>
                </li>                  </ul>
                </th>
              </tr>
          <% else %>
              <tr>
                <th><h2><%=@server.hostname%></h2></th>
                <th><%= link_to 'Overview', group_server_path(@group, @server) %></th>
                <th><%= link_to "Expand Graphs", graphs_group_server_path(@group, @server) %></th>
                <th><%= link_to "Diagnostics", group_server_diagnostic_logs_path(@group, @server) %></th>
                <th>
                  <ul class="sf-menu">
                    <li><%= link_to "Network Uptime", uptime_group_server_path(@group, @server) %>
                                       </ul>
                </th>
              </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</div>
